@font-face {
    font-family: Noto;
    src: url(/fonts/NotoSansLao-Black.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto;
}
.header-big {
    background-color: #ff9b741c;
    max-height: 100%;
    height: 100%;
    text-decoration: none;
}

.header-big .logo {
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #000066;
}

.header .csttc {
    font-size: 33px;

    /* ======================== max width 990 px  ==================================== */

@media (max-width: 990px) {
    
    .header-big .logo {
        display: flex;
        justify-content: center;
    }
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #000066;
    }
    
}


