@font-face {
    font-family: Noto;
    src: url(/fonts/NotoSansLao-Black.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto;
}

/* header */
.logo{
    display: grid;
    justify-content: end;
}
.logo img{
    height: 130px;
}
.topic{
 color: #2c09f5;

}
.csttc{
 font-size: 2rem;
}
@media only screen and (max-width: 992px) {
.logo{
    display: grid;
    justify-content: center;
}
.topic{
    text-align: center;
    font-size: 1.6rem;
}
.footer-bar p{
    text-align: center;
    font-size: 1rem;
}
}
@media only screen and (max-width: 576px) {

.topic{
    text-align: center;
    font-size: .8rem;
}
.footer-bar p{
    text-align: center;
    font-size: .7rem;
}
}

 /* navbar */
.dropdown-item{
    color: #066e0b;
}
.nav-link{
    color: blue!important;
}
/* footer */
.footer{
 background-color: #011d3d;
 height: -webkit-fit-content;
 height: -moz-fit-content;
 height: fit-content;


}
.title-footer{
 color: #fae103;
 font-size: 1.5rem;
 margin-bottom: 1rem;
 margin-left: 1rem;
}
.sub-footer a{
     color: #dde2f0;
 font-size: 1rem;
 margin-left: 1.5rem;
 text-decoration: none;
}
.sub-footer h5{
     color: #dde2f0;
     font-size: 1.1rem;

}
.footer-bar{
    display: grid;
    height: 3rem;
    background-color: #403f44;
    color: #fff;
    justify-content: center;
    

}
.footer-bar p{
  margin-top: 10px;
    
}

/* slides */

.box-slider{
    height: 450px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 450px;
    margin: 0 auto;
    padding: 0 auto;
    
}
.item1{
    grid-column: 1/9;
 
}

.item2{
    grid-column: 9/13;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);

}

.carousel-item img{
    height: 28rem; 
    width: 100%;
}
.card{
    height: 9.3rem;
    width:100%;
    text-align: center;
}
.card a{
    text-decoration: none;
}
@media only screen and (max-width: 576px) {
    .carousel-item img{
    height: 9rem; 
    width: 100%;
    }

}
@media only screen and (max-width: 992px) {
    .carousel-item img{
    height: 20rem; 
    width: 100%;
    }

}

/* news */
.heading-news{
    font-size: 2rem;
    margin-left: 3rem;
}
.news-box{
    height: 15rem;
}
a.card {
    margin-top: 10px;
    text-decoration: none;
    padding: 7px;
}
.line-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line-group .line {
    border: #fc7b03 solid 1px;
    width: 100%;
}

.line-group a {
    text-decoration: none;
    color: #d34208;
}

.line-group:hover a {
    border-radius: 40px;
    background-color: #df6b0c17;
    color: #d34208;
}

.line-group .link-to-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    border-radius: 40px;
    border: 1px solid #fc7b03;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 1.3rem;
}


