@font-face {
    font-family: Noto;
    src: url(/fonts/NotoSansLao-Black.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto;
}

/* header */
.logo{
    display: grid;
    justify-content: end;
}
.logo img{
    height: 130px;
}
.topic{
 color: #2c09f5;

}
.csttc{
 font-size: 2rem;
}
@media only screen and (max-width: 992px) {
.logo{
    display: grid;
    justify-content: center;
}
.topic{
    text-align: center;
    font-size: 1.6rem;
}
.footer-bar p{
    text-align: center;
    font-size: 1rem;
}
}
@media only screen and (max-width: 576px) {

.topic{
    text-align: center;
    font-size: .8rem;
}
.footer-bar p{
    text-align: center;
    font-size: .7rem;
}
}

 /* navbar */
.dropdown-item{
    color: #066e0b;
}
.nav-link{
    color: blue!important;
}
/* footer */
.footer{
 background-color: #011d3d;
 height: fit-content;


}
.title-footer{
 color: #fae103;
 font-size: 1.5rem;
 margin-bottom: 1rem;
 margin-left: 1rem;
}
.sub-footer a{
     color: #dde2f0;
 font-size: 1rem;
 margin-left: 1.5rem;
 text-decoration: none;
}
.sub-footer h5{
     color: #dde2f0;
     font-size: 1.1rem;

}
.footer-bar{
    display: grid;
    height: 3rem;
    background-color: #403f44;
    color: #fff;
    justify-content: center;
    

}
.footer-bar p{
  margin-top: 10px;
    
}

/* slides */

.box-slider{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 450px 100px;
    height: 550px;
    margin: 0 auto;
    padding: 0 auto;
}
.item1{
    grid-column: 1/9;
 
}

.item2{
    grid-column: 9/13;
    grid-row: 1/3;
    display: grid;

}
.item3{
    background-color: #f14fce;
    grid-column: 1/11;

}
.carousel-item img{
    height: 450px;
    width: 100%;
}
